bcrypt
certifi
cffi
chardet
Click
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
prettytable
PTable
pycparser
requests
six
SQLAlchemy
urllib3
Werkzeug
WTForms
