{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img mr-4" src="{{ image_file }}">
            <div class="media-body">
                <a class="float-right" href="{{ url_for('update_account', user_id=current_user.id) }}">Update account</a>
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
{% endblock content %}